/* ======== Google Fonts ======== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* ======== Global Colors ======== */
/* ======== Colors erro ======== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: red;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: #555;
}

a {
  transition: 0.45s all;
  text-decoration: none;
  color: #555;
}
a:hover {
  opacity: 0.4;
  transition: 0.35s all;
}
a:focus {
  background-color: red;
}

mark {
  color: #FFE6A5;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: none;
}

form,
input {
  border: none;
}
form:focus, form:focus-visible,
input:focus,
input:focus-visible {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

li {
  list-style: none;
}

.text-green {
  color: #53B89A;
}

.text-red {
  color: #D62C2B;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 350px) {
  .container {
    max-width: 350px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* ======== Global ======== */
.header__top {
  width: 100%;
  padding: 26.36px 0 26.36px;
  background-color: #FFFFFF;
}
.header__top__left {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__top__left__logo__link {
  width: 16%;
  height: 87px;
  object-fit: cover;
}
.header__top__left__logo__link:hover__img {
  width: 100%;
  height: 100%;
}
.header__top__left__tickers {
  display: flex;
  gap: 8px;
}
.header__top__left__tickers__ticker {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 135%;
  gap: 8px;
}
.header__top__left__acess {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__top__left__acess__search form {
  display: flex;
  gap: 8px;
}
.header__top__left__acess__search form input {
  display: none;
  width: 249px;
  height: 48px;
  padding: 10px 14px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgba(208, 213, 221, 0.5);
  transition: 0.35s all;
}
.header__top__left__acess__search form input:hover {
  transition: 0.45s all;
  opacity: 0.8;
}
.header__top__left__acess__search form button {
  transition: 0.35s all;
}
.header__top__left__acess__search form button:hover {
  transition: 0.45s all;
  opacity: 0.4;
}
.header__top__left__acess__translator__list__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}
.header__top__left__acess__translator__list__item:hover .sublist {
  transition: 0.35s all;
  opacity: 1;
}
.header__top__left__acess__translator__list__item:hover::after {
  transition: 0.45s all;
  transform: rotate(177deg);
}
.header__top__left__acess__translator__list__item::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("/img/icons/world.png") no-repeat;
  object-fit: cover;
  background-position: center;
  transition: 0.45s all;
}
.header__top__left__acess__translator__list__item::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("/img/icons/arrow-dorp.png") no-repeat;
  object-fit: cover;
  background-position: center;
  transition: 0.45s all;
}
.header__top__left__acess__translator__list__item .sublist {
  opacity: 0;
  position: absolute;
  top: 25px;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background-color: #FFFFFF;
  left: 50px;
  transform: translate(-50%);
  transition: 0.45s all;
}
.header__top__left__acess__translator__list__item .sublist__item__link {
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  transition: 0.45s all;
}
.header__top__left__acess__translator__list__item .sublist__item__link:hover {
  transition: 0.35s all;
  opacity: 0.8;
}
.header__bottom {
  padding: 9px 0 9px;
  background-color: #00ACA6;
}
.header__bottom__navigation__nav__list {
  display: flex;
  gap: 80px;
}
.header__bottom__navigation__nav__list__item {
  position: relative;
}
.header__bottom__navigation__nav__list__item:hover {
  transition: 0.45s all;
}
.header__bottom__navigation__nav__list__item:hover .sublist {
  transition: 0.35s all;
  opacity: 1;
}
.header__bottom__navigation__nav__list__item__link {
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
  padding: 10px;
}
.header__bottom__navigation__nav__list__item .sublist {
  position: absolute;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: max-content;
  max-height: 182px;
  padding: 8px 39px 0 0;
  background-color: #05807D;
  border-radius: 0px 0px 16px 16px;
  top: 136%;
  left: 60px;
  transform: translateX(-50%);
  column-gap: 37px;
  opacity: 0;
}
.header__bottom__navigation__nav__list__item .sublist::before {
  content: "";
  min-height: 150px;
  flex-shrink: 0;
  background: url("/img/coelho.png") no-repeat center center;
  background-size: cover;
  transition: 0.45s all;
  width: 114px;
}
.header__bottom__navigation__nav__list__item .sublist__item__link {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
}

/* ======== pages ======== */
.pgHome__banners {
  position: relative;
  width: 100%;
  height: 752px;
}
.pgHome__banners::before {
  content: "";
  background: linear-gradient(270deg, rgba(70, 29, 4, 0) 0%, rgba(70, 29, 4, 0.8) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
}
.pgHome__banners::after {
  content: "";
  position: absolute;
  bottom: 0;
  background: url("/img/bottom-banner.png") no-repeat center center;
  width: 100%;
  height: 130px;
  background-size: cover;
  background-position: top;
}
.pgHome__banners__banner {
  width: 100%;
  height: 100%;
}
.pgHome__banners__banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.pgHome__banners__contents {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.pgHome__banners__contents > .container {
  width: 100%;
  height: 100%;
  padding-top: 128px;
}
.pgHome__banners__contents__content {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  gap: 16px;
}
.pgHome__banners__contents__content__title {
  color: #FFF;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}
.pgHome__banners__contents__content__text {
  color: #D4D4D8;
  font-size: 16px;
  font-weight: 500;
  line-height: 155%;
}
.pgHome__banners__quickAcess {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 147px;
}
.pgHome__banners__quickAcess .container {
  display: flex;
  justify-content: space-between;
  gap: 122px;
}
.pgHome__banners__quickAcess__item__img {
  width: 46px;
  height: 46px;
  background-size: cover;
  background-position: center;
}
.pgHome__banners__quickAcess__item__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: normal;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices - 1200px */
@media screen and (max-width: 1200px) {
  .pgHome__banners {
    height: 100%;
  }
  .pgHome__banners::after {
    height: 94px;
  }
  .pgHome__banners__contents > .container {
    padding-top: 99px;
  }
  .pgHome__banners__contents__content {
    width: 100%;
  }
  .pgHome__banners__contents__content__title {
    font-size: 32px;
    font-weight: 700;
  }
  .pgHome__banners__contents__content__text {
    font-size: 16px;
    font-weight: 500;
  }
  .pgHome__banners__quickAcess {
    bottom: 112px;
  }
  .pgHome__banners__quickAcess .container {
    flex-wrap: nowrap;
    overflow-y: scroll;
    scrollbar-width: none;
    gap: 33px;
  }
  .pgHome__banners__quickAcess__item {
    flex: 0 0 40%;
  }
  .pgHome__banners__quickAcess__item__link {
    font-size: 14px;
    gap: 16px;
  }
}
.pgHome__boxs {
  padding: 56px 0 56px 0;
  background-color: #FFFAEC;
}
.pgHome__boxs > .container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px;
}
.pgHome__boxs__result, .pgHome__boxs__news, .pgHome__boxs__events {
  display: flex;
  flex: 1;
  padding: 24px;
  flex-direction: column;
  width: 31%;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #E4E4E7;
  background-color: #FFF;
  box-shadow: 0px 2.869px 45.909px 0px rgba(196, 196, 196, 0.25);
}
.pgHome__boxs__result:nth-child(2) .pgHome__boxs__result__list__item__link, .pgHome__boxs__result:nth-child(3) .pgHome__boxs__result__list__item__link, .pgHome__boxs__result:nth-child(2) .pgHome__boxs__news__list__item__link, .pgHome__boxs__result:nth-child(3) .pgHome__boxs__news__list__item__link, .pgHome__boxs__result:nth-child(2) .pgHome__boxs__events__list__item__link, .pgHome__boxs__result:nth-child(3) .pgHome__boxs__events__list__item__link, .pgHome__boxs__news:nth-child(2) .pgHome__boxs__result__list__item__link, .pgHome__boxs__news:nth-child(3) .pgHome__boxs__result__list__item__link, .pgHome__boxs__news:nth-child(2) .pgHome__boxs__news__list__item__link, .pgHome__boxs__news:nth-child(3) .pgHome__boxs__news__list__item__link, .pgHome__boxs__news:nth-child(2) .pgHome__boxs__events__list__item__link, .pgHome__boxs__news:nth-child(3) .pgHome__boxs__events__list__item__link, .pgHome__boxs__events:nth-child(2) .pgHome__boxs__result__list__item__link, .pgHome__boxs__events:nth-child(3) .pgHome__boxs__result__list__item__link, .pgHome__boxs__events:nth-child(2) .pgHome__boxs__news__list__item__link, .pgHome__boxs__events:nth-child(3) .pgHome__boxs__news__list__item__link, .pgHome__boxs__events:nth-child(2) .pgHome__boxs__events__list__item__link, .pgHome__boxs__events:nth-child(3) .pgHome__boxs__events__list__item__link {
  gap: 8px;
}
.pgHome__boxs__result__title, .pgHome__boxs__news__title, .pgHome__boxs__events__title {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: #003133;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.pgHome__boxs__result__title > span, .pgHome__boxs__news__title > span, .pgHome__boxs__events__title > span {
  font-size: 16px;
  font-weight: 600;
  line-height: 155%;
}
.pgHome__boxs__result__list, .pgHome__boxs__news__list, .pgHome__boxs__events__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 0 16px 0;
  border-bottom: 1px solid #E4E4E7;
  border-top: 1px solid #E4E4E7;
}
.pgHome__boxs__result__list__item__link, .pgHome__boxs__news__list__item__link, .pgHome__boxs__events__list__item__link {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #555;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  gap: 16px;
}
.pgHome__boxs__result__list__item__link__leftIcon, .pgHome__boxs__news__list__item__link__leftIcon, .pgHome__boxs__events__list__item__link__leftIcon {
  width: 24px;
  height: 24px;
  border-radius: 2.833px;
  background: #0A6564;
}
.pgHome__boxs__result__list__item__link__rightIcon, .pgHome__boxs__news__list__item__link__rightIcon, .pgHome__boxs__events__list__item__link__rightIcon {
  position: absolute;
  right: 0;
  width: 13.75px;
  height: 13.75px;
}
.pgHome__boxs__result__list__item__link__time, .pgHome__boxs__news__list__item__link__time, .pgHome__boxs__events__list__item__link__time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 24px;
  color: #FFF;
  padding: 8px 0 8px 0;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
  border-radius: 2.833px;
  background: #0A6564;
}
.pgHome__boxs__result__btn, .pgHome__boxs__news__btn, .pgHome__boxs__events__btn {
  display: flex;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 155%;
  height: 41px;
  padding: 12px 20px 12px 20px;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #00ACA6;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices - 1200px */
@media screen and (max-width: 1200px) {
  .pgHome__boxs > .container {
    flex-direction: column;
  }
  .pgHome__boxs__result, .pgHome__boxs__news, .pgHome__boxs__events {
    width: 100%;
  }
}
.pgHome__aboutCobasi {
  padding: 49px 0 92px 0;
}
.pgHome__aboutCobasi > .container {
  display: flex;
  gap: 74px;
}
.pgHome__aboutCobasi__left {
  width: 50%;
}
.pgHome__aboutCobasi__left__img {
  width: 499px;
  height: 376px;
  border-radius: 8px 8px 0px 8px;
  overflow: hidden;
}
.pgHome__aboutCobasi__left__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.pgHome__aboutCobasi__right {
  width: 50%;
}
.pgHome__aboutCobasi__right__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 32px;
}
.pgHome__aboutCobasi__right__contents__title {
  color: #222;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pgHome__aboutCobasi__right__contents__text {
  color: #555;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}
.pgHome__aboutCobasi__right__contents__link {
  display: flex;
  width: 28%;
  color: #FFF;
  font-size: 16px;
  text-wrap: nowrap;
  font-style: normal;
  font-weight: 600;
  line-height: 155%;
  padding: 12px 20px 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #00ACA6;
}
.pgHome__aboutCobasi__right__contents__link > img {
  width: 24px;
  height: 24px;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices - 1200px */
@media screen and (max-width: 1200px) {
  .pgHome__aboutCobasi {
    padding: 32px 0 64px 0;
  }
  .pgHome__aboutCobasi > .container {
    flex-direction: column;
    gap: 32px;
  }
  .pgHome__aboutCobasi__left {
    width: 100%;
  }
  .pgHome__aboutCobasi__left__img {
    width: 100%;
    height: 260px;
  }
  .pgHome__aboutCobasi__right {
    width: 100%;
  }
  .pgHome__aboutCobasi__right__contents {
    gap: 24px;
  }
  .pgHome__aboutCobasi__right__contents__title {
    font-size: 32px;
    font-weight: 400;
  }
  .pgHome__aboutCobasi__right__contents__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 155%;
  }
  .pgHome__aboutCobasi__right__contents__link {
    width: 30%;
  }
}
.pgHome__ourNumbers > .container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.pgHome__ourNumbers__top__title {
  color: #222;
  font-size: 40px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pgHome__ourNumbers__bottom__boxs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 36.33px;
}
.pgHome__ourNumbers__bottom__boxs__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 61%;
  gap: 16px;
}
.pgHome__ourNumbers__bottom__boxs__box__number {
  display: flex;
  align-items: center;
  color: #222;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pgHome__ourNumbers__bottom__boxs__box__number > mark {
  color: #FF8200;
}
.pgHome__ourNumbers__bottom__boxs__box__contents {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pgHome__ourNumbers__bottom__boxs__box__contents__subtitle {
  color: #222;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.pgHome__ourNumbers__bottom__boxs__box__contents__text {
  color: #555;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices - 1200px */
@media screen and (max-width: 1200px) {
  .pgHome__ourNumbers__top__title {
    font-size: 32px;
  }
  .pgHome__ourNumbers__bottom__boxs {
    flex-direction: column;
    gap: 48px;
  }
  .pgHome__ourNumbers__bottom__boxs__box {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
