.pgHome {

  &__boxs{
    padding: 56px 0 56px 0;
    background-color: $primary-color-concha;
    
    >.container {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      gap: 30px;
    }

    &__result,
    &__news,
    &__events{
      display: flex;
      flex: 1;
      padding: 24px;
      flex-direction: column;
      width: 31%;
      gap: 16px;
      flex-shrink: 0;
      border-radius: 6px;
      border: 1px solid $primary-color-PaleSilver;
      background-color: $secondary-color-white;
      box-shadow: 0px 2.869px 45.909px 0px rgba(196, 196, 196, 0.25);

      &:nth-child(2) &__list,
      &:nth-child(3) &__list {
        &__item{
          &__link{
            gap: 8px;
          }
        }
      }

      &__title{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        color: $primary-color-cyanBlue;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        >span{
          font-size: 16px;
          font-weight: 600;
          line-height: 155%;
        }
      }

      &__list{
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 16px 0 16px 0;
        border-bottom: 1px solid $primary-color-PaleSilver;
        border-top: 1px solid $primary-color-PaleSilver;

        &__item{
      
          &__link {
            position: relative;
            display: flex;
            align-items: center;
            overflow: hidden;
            color: $primary-color-back;
            text-overflow: ellipsis;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%; 
            gap: 16px;

            &__leftIcon{
              width: 24px;
              height: 24px;
              border-radius: 2.833px;
              background: $primary-color-darkCyan;
            }

            &__rightIcon {
              position: absolute;
              right: 0;
              width: 13.75px;
              height: 13.75px;
            }

            &__time{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 15%;
              height: 24px;
              color: $secondary-color-white;
              padding: 8px 0 8px 0;
              font-size: 11px;
              font-style: normal;
              font-weight: 600;
              line-height: 135%;
              border-radius: 2.833px;
              background: $primary-color-darkCyan;
            }
          } 
        }
      }

      &__btn{
        display: flex;
        color: $secondary-color-white;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 155%;
        height: 41px;
        padding: 12px 20px 12px 20px;
        margin-top: auto;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        border-radius: 8px;
        background: $secondary-color-green;
      }
    }
  }
}

/*=============== BREAKPOINTS ===============*/
/* For large devices - 1200px */
@media screen and (max-width: 1200px) {
  .pgHome{

    &__boxs{

      >.container{
        flex-direction: column;
      }

      &__result,
      &__news,
      &__events{
        width: 100%;
      }
    }
  }
}