/* ======= Scroll Styles ======= */
::-webkit-scrollbar-track {
  background-color: $primary-color-white;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: $secondary-color-green;
  border-radius: 5px;
}
