/* ======== Google Fonts ======== */  
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ======== Global Colors ======== */
$primary-color-white: #FFFFFF;
$primary-color-back: #555;
$primary-color-orange: #FFE6A5;
$primary-color-concha: #FFFAEC;
$primary-color-green: #53B89A;
$primary-color-red: #D62C2B;
$primary-color-PaleSilver: #E4E4E7;
$primary-color-cyanBlue: #003133;
$primary-color-darkCyan: #0A6564;

$secondary-color-back: #222;
$secondary-color-orange: #FF8200;

$tertiary-color-white: #D4D4D8;
$tertiary-color-green: #05807D;


/* ======== Colors erro ======== */
$secondary-color-white: #FFF;
$secondary-color-green: #00ACA6;
