/* ======== Google Fonts ======== */  
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ======== Global Colors ======== */
$primary-color-white: #FFFFFF;
$primary-color-back: #555;

/* ======== Colors erro ======== */
$primary-color-green: #53B89A;
$primary-color-red: #D62C2B;

$secondary-color-green: #00ACA6;
$secondary-color-white: #FFF;

$tertiary-color-green: #05807D;